@model CadCliente.Models.ClienteViewModel

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<div class="container">
    <h1>Detalhes do Cliente</h1>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    @if (!string.IsNullOrEmpty(Model.LogotipoBase64))
                    {
                        <div class="text-center">
                            <img src="@Model.LogotipoBase64" alt="Logotipo" style="max-width: 200px; max-height: 200px;" class="img-thumbnail" />
                        </div>
                    }
                </div>
            </div>

            <div class="mt-4">
                <h4>Endereços</h4>
                <div class="list-group">
                    @foreach (var logradouro in Model.Logradouros)
                    {
                        <div class="list-group-item">
                            @logradouro.Endereco
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>
